.hyperLink {
    font-size: var(--link-font-size);
    color: var(--link-color);
    font-family: var(--link-font-family);
    transition: color 0.3s ease;
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
  }
  
.hyperLink:hover {
    color: var(--link-hover-color);
  }