.navButton {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    align-items: center;
    justify-items: center;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}
.logo {
    width: 2rem;
}
p {
    color: var(--primary-color);
    font-family: var(--primary-font);
    text-align: center;
    padding: 0.2rem;
    transition: color 0.3s ease;
}
.navButton:hover {
    p {
        color: var(--background-color)
    }
}