/* {
    border: 1px solid green;
} */
.dashboard {
    display: flex;
    flex-direction: row;
}
.content {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin: 0px 0px 0px 80px;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 12vh;
}
.header .linksContainer {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
}
.headerLogo {
    height: 80px;
    padding: 1rem;
    align-self: center; 
}
.body {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 88vh;
}
.greeting {
    font-family: var(--primary-font);
    color: var(--primary-color);
    h1 {
        font-size: 3rem;
        padding: 2rem;
    }
}
.nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: end;
    background-color: var(--primary-color);
    min-height: 100vh;
    min-width: 80px;
    align-items: center;
}
@media (max-width: 768px) {
    .dashboard {
        flex-direction: column-reverse;
    }
    .nav {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        min-width: 100vw;
        padding: 1rem;
        border-top: 2px solid white;
        
    }
    .body {
        height: 80vh;
    }
    .header {
        flex-direction: column;
        align-items: center;
        height: 14rem;
    }
    .header .linksContainer {
        padding: 0rem;
    }
    .headerLogo {
        padding: 1rem;
    }
    .content {
        margin: 0px
    }
}
