.homePage {
    /*Structuring. Navigation bar and main content must be side-by-side*/
    display: flex;

    /*Must take up full page.*/
    height: 100vh;

    .homePageContent {
        /*Adjust for Nav bar, must be equal to navbar height.*/
        margin-left: 100px;
        max-width: calc(100vw - 100px);
        
        /*Content must take up full height.*/
        height: 100vh;
        .homePageMainContent {
            display: flex;
            height: calc(100vh - 150px);
            .leftHalfContent {
                display: flex;
                flex-direction: column;
                height: calc(100vh - 150px);
                justify-content: space-between;
                .greeting {
                    font-family: var(--font-family);
                    color: var(--primary-color);
                    flex-grow: 1;
                    width: max-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 2rem;
                    h1 {
                        font-size: 3rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                    
                }
                .updateDetails {
                    display: flex;
                    flex-direction: column;
                    padding: 0rem 0rem 0rem 1rem;
                    font-family: var(--font-family);
                    color: var(--primary-color);
                    h1, h2, h3 {
                        padding: 1rem;
                    }
                    h1 {
                        font-size: 2.5rem;
                    }
                    h2 {
                        font-size: 2rem;
                    }
                    h3 {
                        font-size: 1.5rem;
                        background-color: var(--primary-color);
                        color: var(--background-color);
                        border-radius: 1rem;
                        padding: 2rem;
                        margin: 0.5rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .homePage {
        /*Transform to column format to fit small screens.*/
        flex-direction: column-reverse;
        justify-content: start;

        .homePageContent {
            flex-direction: column;
            /*Get rid of margin since navigation bar is sent to the bottom.*/
            margin-left: 0px;

            /*Must take up full width since navigation bar is not at the side.*/
            max-width: 100vw;

            /*Adjust for 100px-tall navigation bar*/
            height: calc(100vh - 100px);
            .homePageMainContent {
                flex-direction: column;
                .leftHalfContent {
                    .greeting {
                        height: min-content;
                        width: 100vw;
                        h1 {
                            font-size: 3rem;
                        }
                        p {
                            font-size: 1rem;
                        }
                    }
                    .updateDetails {
                        h1 {
                            font-size: 2rem;
                        }
                        h2 {
                            font-size: 1.5rem;
                        }
                        h3 {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
