.loginPage {
    display: flex;
    flex-direction: column;
    height: 120vh;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 12vh;
}
.header .linksContainer {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
}
.headerLogo {
    height: 80px;
    width: auto;
    padding: 1rem;
}
.body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        font-family: var(--primary-font);
        color: var(--primary-color);
        text-align: left;
        margin: 0.2rem;
    }
}
.loginBoxContainer {
    display: flex;
    flex-direction: column;
    width: 20rem;
    input {
        height: 2rem;
        border-radius: 0.5rem;
        padding: 0.3rem;
        border: 1px solid var(--primary-color);
        margin: 0.2rem;
        font-family: var(--primary-font);
    }
    
}
.footer {
    height: 20vh;
    background-color: var(--primary-color);
}

@media (max-width: 768px){
    .header {
        flex-direction: column;
        align-items: center;
        height: 14rem;
    }
    .header .linksContainer {
        padding: 0rem;
    }
    .headerLogo {
        padding: 1rem;
    }
}
