.loginPage {
    display: flex;
    flex-direction: column;
    .loginBody {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;

        .loginBoxContainer {
            display: flex;
            flex-direction: column;
            height: 20rem;
            width: 30rem;
            transform: translateY(-4rem);
            h1 {
                font-family: var(--font-family);
                color: var(--primary-color);
                transform: translateX(1rem);
                font-size: 2.5rem;
            }
            .loginBox {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 15rem;
                padding: 1rem;
                border-radius: 2rem;
                input {
                    padding: 0.5rem;
                    border-radius: 1rem;
                    border: 2px solid var(--primary-color);
                    font-family: var(--font-family);
                }
                p {
                    font-family: var(--font-family);
                    color: var(--primary-color);
                }
                .error {
                    color: red;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .loginPage {
        .loginBody {
            /* 20vh header, 80vh body = 100vh*/
            height: 80vh;
        }
    }
}