* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #89343b;
    --secondary-color: #f8c400;
    --background-color: #ffffff;
    --font-family: "Lexend", "Segoe UI", Helvetica, sans-serif;
}