.header {
    display: flex;
    height: 150px;
    /* 100vw - padding (2rem) - navBar(100px)*/
    width: calc(100vw - 2rem - 100px);
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding-left: 2rem;
    .citLogo {
        height: 100px;

    }
    .links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: 200px;
        width: 100vw;
        padding: 1rem 0rem 0rem 0rem;
        .citLogo {
            max-height: 100px;
            height: auto;
            max-width: fit-content;
            width: 85vw;
        }
    }
}
