.navBar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    height: 100vh;
    position: absolute;
    background-color: var(--primary-color);

    .links {
        display: flex;
        height: min-content;
        flex-direction: column;
        align-items: center;
        width: 100px;
        .link {
            text-decoration: none;
            .icon {
                display: flex;
                flex-direction: column;
                width: 100px;
                padding: 1rem 0rem 1rem 0rem;
                justify-content: center;
                align-items: center;
                img {
                    width: 50px;
                }
                p {
                    color: var(--primary-color);
                    font-family: var(--font-family);
                    transition: color ease 0.3s;
                    text-align: center;
                }
            }
        }
        .link:hover, p:hover {
            p {
                color: var(--background-color);
            }
        }

    }
}
@media (max-width: 768px) {
    .navBar {
        flex-direction: row;
        justify-content: center;
        min-width: 100vw;
        width: 100vw;
        max-width: 100vw;
        height: 100px;
        .links {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}